<footer class="page-footer font-small blue pt-2" style=" font-size: 16px;">
    <p class="text-center">© 2022 Copyright:
        <a>
            Quick Chat
        </a>
        <br>
        Authors: A.Alisher and Zh.Arman
    </p>

</footer>