<nav class="navbar navbar-expand-xl d-flex   justify-content-between  navbar-light">
    <div class="container-fluid  d-flex flex-wrap flex-row">
        <div class ="col-sm-4 col-md-4 col-lg-4">
        <a class="navbar-brand" href="/home">
            <img src="/public/images/Logo.png" alt="Logo" class="logo">
        </a>
        </div>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse mx-auto  col-sm-8 col-md-8 col-lg-8" id="collapsibleNavbar">
            <ul class="navbar-nav  mx-auto mb-lg-0">
                <li class="nav-item">

                </li>
            </ul>
            <ul class="navbar-nav d-flex flex-row flex-wrap  align-content-center">
                <li class="nav-item " >
                    <a class="nav-link"  href="/about">
                        <button class="button1" style="background-color: #5A47AB;">
                            <p>About</p>
                        </button>
                    </a>
                </li>
                <li class="nav-item " >
                    <a class="nav-link" onclick="randomUser()">
                        <button class="button1" style= "background-color: #2FB6A6;">
                            <p>Chat with random</p>
                        </button>
                    </a>
                </li>
                <li class="nav-item " >
                    <a class="nav-link"  href="https://github.com/ARUMANDESU/QuickChat">
                        <button class="button1" style="background-color: #2FB6A6;">
                            <p>Project</p>
                        </button>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/chat">
                    <button class="button1" style="background-color: #E87C7C;">
                        <p>Chat</p>
                    </button>
                    </a>
                </li>
                <li class="nav-item">
                    <%if(auth!=null){%>
                    <a href="/user/profile/<%-auth.username%>" title="Account">
                        <img src="<%-auth.avatarUrl?auth.avatarUrl:"/images/login.png"%>" class="rounded-circle" width="55">
                    </a>
                    <%}else{%>
                        <a class="nav-link" href="/login">
                            <button class="button1" style="background-color: #E87C7C;">
                                <p>Login</p>
                            </button>
                        </a>
                    <%}%>

                </li>
            </ul>
        </div>
    </div>

</nav>