<!doctype html>
<html lang="en">
  <head>
    <%- include("components/head") %>
</head>
  <body style="background-color: #5A47AB;">
      

    <%- include("components/nav") %>

    <section>
        <div class="container-fluid my-5" style="font-size: 40px;">
            <p class="text-center" style="color: #2FB6A6;">About</p>
            <div class="container">
                <p  style="color: #222222; font-size: 35px;">Chat with random strangers online for free
                    Using our website chat app is completely free, with no catch whatsoever! We wanted to make your ability to chat online as quick, easy, and simple as possible, while at the same time attracting as many strangers for you to meet as possible.
                    
                    The only way to do that, is to offer a completely free service, because otherwise too many people would not bother even using it! The other important part to this is to allow you to immediately get started chatting without registration. Making users sign up is a major annoyance, and so we were careful to make sure that we did not require any sort of registration process.
                    
                    When you combine the fact that our service is 100% free with not making users have to register, you get the perfect end result that makes everyone happy, and keeps users coming back time and time again. That result is exactly what everyone wants, which makes our site the perfect place for you to visit any time you want to satisfy your online stranger chat room needs!</p>
    
            </div>
        </div>
    </section>
    <%- include("components/footer") %>


    </body>
</html>