<!doctype html>
<html lang="en">
  <head>
    <%- include("components/head") %>

</head>
  <body >
      

    <%- include("components/nav") %>
    <section>
        <div class="container-fluid my-5" style="font-size: 40px;">
            <div class="container" style=" border-style: solid; border-width: 2px; background-color: #2FB6A6;">
                <div class="d-flex p-4 justify-content-end align-content-end" id="chat">
                    <div id="mySide" >
                        
                    </div>
                </div>
 
                    <form action="/chat" method="post" class="container-fluid d-flex flex-row dalign-content-center ">
                        <input id="sendText" class="form-control" type="text" name="" placeholder="text...">
                        <div  class="btn-group dropup">
                            
                            <button type="button" class="btn btn-light dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                            Giphy
                            </button>
                            <div class="dropdown-menu">
                                <div class="container d-flex flex-wrap ">
                                    <% parsed.forEach((data)=>{%>
                                        <img class="img-fluid m-1 gifs" name="gifs"  src= <%=data.images.original.url%> >
                                    <% })%>
                                </div>
                                <form>
                                    <input class="form-control" type="text" name="gifname" placeholder="gif name">
                                    <button  type="submit" style="font-size: 25px; width: 150px;height: 40px;">
                                        find
                                    </button>
                                </form>
                            </div>
                        </div>
                        <button id="send" class="text-fluid" type="submit" style="font-size: 25px; width: 150px;height: 40px;">
                            send
                        </button>
                    </form>
                    
            
            </div>
            
        </div>
    </section>

    <%- include("components/footer") %>

    <script>
        let input =document.getElementById("sendText")
        document.getElementById("send").onclick = function(){
            document.getElementById("mySide").innerHTML+="<p>"+ input.value +"</p>";
            input.value="";
        }

        document.getElementsByName("gifs").onclick = function(){
            document.getElementById("mySide").innerHTML+='<img id="gifs" class="img-fluid m-1"  src='+this.src+'">'
        }
    </script>
    </body>
</html>