<!doctype html>
<html lang="en">
  <head>
    <%- include("components/head") %>
    <title>ERROR</title>
</head>
  <body>
    <%- include("components/nav") %>
    <img class="img-fluid" src="/public/images/03-error-404-not-found.webp">
  

    <%- include("components/footer") %>
  </body>
</html>