<!doctype html>
<html lang="en">
  <head>
    <%- include("components/head") %>
</head>
<body>
    <%- include("components/nav") %>
    <section style="margin-top: 200px; margin-bottom: 200px;">
        <div class="container-fluid d-flex flex-row">
            <div class="container-fluid mx-auto  col-sm-8 col-md-8 col-lg-8" >
                <img class="img-fluid" src="/public/images/ChatWithSomeone.png">
            </div>
            <div class="container-fluid mx-auto col-xs-4 col-sm-4 col-md-4 col-lg-4">
                <img class="img-fluid" src="/public/images/Chat1.png">
            </div>
        </div>
        <div class="container-fluid d-flex col-sm-12" >
            <a href="chat">
                <button class="button1 btn" style="max-width:300px;max-height:48px;margin-right: 20px;">
                    Let's Chat
                </button>
            </a>
            <a href="https://github.com/ARUMANDESU/QuickChat">
                <button class="button2 btn-outline" style="max-width:300px;max-height:48px;">
                    <img src="/public/images/Github.png" style="max-width:45px;max-height:43px;">
                    Github
                </button>
            </a>
            
        </div>
    </section>
    
    <section style="background-color: #5A47AB; padding-top: 80px; padding-bottom: 150px;">
        <div class="container">
            <p class="text-center" style="font-size: 50px; color:#2FB6A6;">Rules</p>
            <div class="d-flex flex-row" style="margin-top: 150px;">
                <div class="container-fluid col-xs-4 col-md-4 col-lg-4" >
                    <img class="img-fluid" src="/public/images/Chat2.png">
                </div>
                <div class="col-sm-12 col-xs-8 col-md-8 col-lg-8">
                     <ul style="font-size: 25px; color: white;">
                         <li>
                            Be polite, and do not insult your interlocutors. It is forbidden to:
                         </li>
                         <li>
                            Use obscene language.
                        </li>
                        <li>
                            Insult interlocutors or behave rudely towards them.
                        </li>
                        <li>
                            Perform any discriminatory actions against interlocutors on the grounds of race, religion, nationality, gender, age, appearance, etc.
                        </li>
                        <li>
                            Advertising and spam are strictly prohibited in any form. It is forbidden to:
                        </li>
                        <li>
                            Stream images or send messages with advertising or promotional content.
                        </li>
                        <li>
                            Stream images or send messages with advertising or promotional content.
                        </li>
                        <li>
                            Send any links, including links to videos or social profiles.
                        </li>
                        <li>
                            Send any links, including links to videos or social profiles.
                        </li>
                        <li>
                            Send messages in bulk or send the same message to a large number of users.
                        </li>
                        <li>
                            Ask interlocutors to perform any online actions (to like, subscribe, participate in a poll or vote, visit a website, etc.).
                        </li>
                     </ul>
                        
                    
                </div>
            </div>
            
        </div>
    </section>
    <%- include("components/footer") %>



   </body>
</html>