body{
    font-family: 'Balsamiq Sans', cursive;
    font-size: 20px;
}
p{
    padding: 0;
    margin: 0;
}

.logo{
    width: 95px;
    height: 75px;
}


.button1{
    background-color: #222222;
    color: #FFFFFF;
    border-radius:4%;
}

.button2{
    background-color: #ffffff;
    color: #222222;
    border-radius:4%;

}

/*#customBtn {*/
/*    display: inline-block;*/
/*    background: white;*/
/*    color: #444;*/
/*    border-radius: 5px;*/
/*    border: thin solid #888;*/
/*    box-shadow: 1px 1px 1px grey;*/
/*    white-space: nowrap;*/
/*}*/
#customBtn:hover {
    cursor: pointer;
}
span.label {
    font-family: serif;
    font-weight: normal;
}
span.icon {
    display: inline-block;
    vertical-align: middle;
    width: 42px;
    height: 42px;
}
span.buttonText {
    display: inline-block;
    vertical-align: middle;
    font-size: 14px;
    font-weight: bold;
    /* Use the Roboto font that is loaded in the <head> */
    font-family: 'Roboto', sans-serif;
}